@media(max-width: 1211px){
    .contacts-inner__map img{
        height: auto;
    }
}
@media(max-width:1139px){
    .contacts-inner__text-item{
        padding: 21px 0 24px;
    }
}
@media(max-width: 1118px){
    .header-bottom__title {
        font-size: 100px;
        line-height: 96px;
    }
    .sliderContainerInner{
        flex-direction: column-reverse;
        align-items: center;  
    }
    .sliderText-text {
        margin-bottom: 20px;
        max-width: 641px;
    }
    .section {
        padding-bottom: 70px;
    }
    .strems__item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .srtems__item-video-Wrap {
        width: 100%;
        justify-content: center;
    }
    .strems__item:nth-child(even) {
        flex-direction: column-reverse;
        align-items: center;
    }
    .strems__item-btn {
        margin-bottom: 40px;
    }
    .streems__items-text-Wrap {
        text-align: center;
    }
    .events-and-news__item-descr {
        font-size: 16px;
        line-height: 20px;
    }
    .events-and-news__item-title{
        font-size: 18px;
        line-height: 23px;
    }
    .events-and-news__item-btn {
        font-size: 15px;
        max-width: 210px;
        padding: 11px 0 10px;
    }
    .events-and-news-link {
        padding: 20px 0 19px;
        font-size: 20px;
    }
    .teachers__cards-container-item img {
        max-height: 340px;
    }
    .teacherBack {
        height: 295px;
    }
}
@media(max-width:1040px) {
    .contacts-inner__text-item-input {
        max-width: 380px;
        padding: 14px 12px 8px;
    }
    .contacts-inner__text-item-title {
        font-size: 25px;
    }
    .contacts-inner__text-item-btn {
        margin-top: 35px;
        padding: 18px 43px 17px 39px;
    }
    .footer__item-title{
        font-size: 18px;
    }
    .footer__menu-link, .footer__item-descr, .footer__item-contacts{
        font-size: 14px;
    }
}
@media(max-width: 971px) {
    .events-and-news-inner {
        flex-wrap: wrap;
    }
    .events-and-news__item {
        flex-basis: 100%;
        max-width: 640px;
        margin: 0 auto 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .events-and-news__item+.events-and-news__item {
        margin: 0 auto 40px;
    }
    .events-and-news__item-img {
        max-width: 250px;
        margin-right: 30px;
    }
    .contacts-inner__text-item-title {
        font-size: 23px;
    }
    .contacts-inner__text-item-btn {
        margin-top: 26px;
        padding: 18px 30px 17px 29px;
    }
    .contacts-inner__text-item-text+.contacts-inner__text-item-text {
        margin-top: 25px;
    }
    .contacts-inner__text-item {
        padding: 21px 16px 24px;
    }
    .teacherBack{
        bottom: 140px;
    }
    .teachers__item-name{
        font-size: 20px;
        line-height: 35px;
    }
    .teachers__item-descr{
        font-size: 18px;
        line-height: 24px;
    }
    .teach-inner{
        margin-top: 35px;
    }
}
@media(max-width: 880px) {
    .header-bottom__title {
    font-size: 86px;
    line-height: 84px;
    }
    .arrow img {
        width: 15px;
    }
    .contacts-inner__map,
    .contacts-inner__text {
        width: 100%;

    }
    .contacts-inner__map{
        text-align: center;
        order: 2;
    }
    .contacts-inner__text {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .contacts-inner__text-item{
        justify-content: center;
        width: 48%;
        margin: 0;
    }
    .contacts-inner__text-item-btn{
        padding: 18px 15px 17px;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
    .contacts-inner__text-item-title{
        font-size: 18px;
        line-height: 20px; 
    }
    .contacts-inner__text-item-input::placeholder {
        font-size: 14px;
        line-height: 16px;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__menu-item{
        line-height: 22px;
    }
    .footer__menu-item+.footer__menu-item {
        margin: 0;
    }

}
@media(max-width:850px){
    .teachers__item-name {
        font-size: 18px;
        line-height: 22px;
    }
    .teachers__item-descr {
        font-size: 16px;
        line-height: 24px;
    }
    .teachers__cards-container-item img {
        max-height: 280px;
    }
    .teacherBack {
        bottom: 127px;
        height: 248px;
    }
    .teach-inner {
        margin-top: 15px;
    }
}
@media(max-width: 800px){
    .header-bottom__title{
        font-size: 70px;
        line-height: 67px;
    }
    .arrow img {
        width: 10px;
    }
    .sliderText-text {
        max-width: 511px;
    }
    .subtitle {
        font-size: 42px;
    }
    .sliderText-title {
        font-size: 36px;
    }
    .sliderContainer {
        margin-top: 50px;
    }
    .section-title {
        margin-top: 60px;
    }
    .strems__item-title {
        font-size: 36px;
    }
}
@media(max-width: 780px) {
    .header-top{
        position: static;
    }
    .header-bottom {
        margin-top: 0;
    }
    .header-top__inner {
        display: block;
        text-align: center;
    }
    .header__menu {
        max-width: 566px;
        width: 100%;
        margin: 15px auto 0;
    }
    .footer__item-2 {
        display: none;
    }
    .footer__item--1, .footer__item-3 {
        max-width: 48%;
    }
    .teach-inner {
        align-items: center;
        flex-direction: column;
    }
    #teacherBack2, #teacherBack1 {
        display: block;
    }
    .teacherBack {
        border-top: 2px solid #1c1b1b;
    }
    #teacherBack1{
        bottom: 908px;
    }
    #teacherBack2{
        bottom: 503px;
    }
    #teacherBack3{
        bottom: 98px;
    }
    .teachers__cards-container-item+.teachers__cards-container-item{
        margin-top: 40px;
    }
    .teachers__item-descr{
        margin-top: 5px;
    }
}
@media(max-width: 680px){
    .sliderImg {
        max-width: 450px;
    }
    .sliderText-text {
        max-width: 450px;
    }
    .events-and-news-inner {
        margin-top: 50px;
    }
    .contacts-inner{
        margin-top: 30px;
    }
    .contacts-inner__text{
        flex-direction: column;
        align-items: center;
    }
    .contacts-inner__text-item+.contacts-inner__text-item{
        margin-top: 30px;
    }
    .contacts-inner__text-item{
        width: 100%;
    }
    .contacts-inner__text-item-btn{
        padding: 18px 43px 17px 39px;
        font-size: 13px;
        line-height: 17px;
    }
    .contacts-inner__text-item-text-body{
        font-size: 15px;
        line-height: 19px;
    }
    .footer__item--1 .header__logo-img {
        width: 65px;
    }
}
@media(max-width:627px) {
    .header-bottom__title {
        font-size: 60px;
        line-height: 54px;
    }
    .header__menu {
        display: none;
    }
    .header-top__inner  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .header__menu-gamberger{
        display: block;
    }
    .header__menu--active {
        display: block;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #1c1b1b;
    }
    .header-top {
        position: fixed;
        left: 0;
        top: 0;
    }
    .header-bottom {
        margin-top: 61px;
    }
    .header-bottom__btn {
        padding: 16px 18px 15px 17px;
    }
    .strems__item-video {
        width: 500px;
        height: 281px;
    }
    .strems__item-btn{
        font-size: 15px;
        line-height: 15px;
    }

}
@media(max-width:602px) {
    .events-and-news__item-img {
        max-width: 210px;
    }
    .events-and-news__item-btn{
        margin-bottom: 0;
    }
}
@media(max-width: 570px) {
    .sliderText-text {
        font-size: 14px;
        line-height: 20px;
    }
    .subtitle {
        font-size: 34px;
    }
    .sliderText-title {
        font-size: 30px;
    }
    .sliderImg {
        max-width: 380px;
    }
    .sliderText-text {
        max-width: 380px; 
    }
    .strems__item-title {
        font-size: 30px;
    }
    .strems__item-text{
        font-size: 14px;
        line-height: 20px;
    }
    .strems {
        padding: 0 10px;
    }
    .events-and-news__item-img {
        margin: 0;
    }
    .events-and-news__item-img,
    .events-and-news__item {
        max-width: 350px;
    }
    .events-and-news__item div {
        margin-left: 30px;
    }
    .events-and-news__item-btn {
        margin-bottom: 30px;
    }
    .events-and-news-link {
        max-width: 450px;
        margin-top: 43px;
    }
    .footer__item--1, .footer__item-3 {
        max-width: 100%;
        width: 48%;
    }
}
@media(max-width: 531px) {
    .strems__item-video {
        width: 450px;
        height: 254px;
    }
    .footer-inner{
        flex-direction: column;
    }
    .footer__item--1, .footer__item-3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__item-contacts-tel {
        display: block;
    }
    .footer__item-3 {
        text-align: center;
    }
    .footer__social-list {
        justify-content: center;
    }
    .footer__item--1 .header__logo-img {
        width: 65px;
    }
    .footer__item-3{
        margin-top: -14px;
    }
}
@media(max-width:488px){
    .header-bottom__btn {
        margin-top: 130px;
        padding: 15px 15px 14px 14px;
    }
    .sliderImg {
        max-width: 320px;
    }
    .sliderText-text {
        max-width: 320px; 
    }
    .strems__item-btn{
        padding: 18px 0 17px;
        width: 100%;
    }

    
}
@media(max-width:451px){
    .header-bottom__title {
        font-size: 57px;
        line-height: 48px;
    }
    .header-bottom__btn {
        margin-top: 151px;
        font-size: 13px;
    }
    .section-title {
        margin-top: 35px;
    }
    .sliderText-title {
        margin-bottom: 15px;
    }
    .section {
        padding-bottom: 40px;
    }
    .sliderImg {
        max-width: 275px;
    }
    .sliderText-text {
        max-width: 275px;
    }
    .strems__item-btn {
        font-size: 14px;
    }
    .strems__item-video{
        width: 400px;
        height: 225px;
    }
    .events-and-news-link {
        padding: 15px 0 14px;
        font-size: 16px;
        max-width: 350px;
        margin-top: 10px;
    }
}
@media(max-width:380px) {
    .header-bottom__btn{
        display: block;
        max-width: 260px;
        width: 100%;
        margin: 151px auto 0;
    }
    .header-bottom__title {
        font-size: 53px;
        line-height: 46px;
    }
    .sliderImg {
        max-width: 225px;
    }
    .sliderText-text {
        max-width: 225px;
    }
    .subtitle {
        font-size: 28px;
    }
    .sliderText-title {
        font-size: 24px;
    }
    .sliderContainer {
        margin-top: 40px;
    }
    .arrowNext {
        right: -10px;
    }
    .arrowPrew {
        left: -10px;
    }
    .strems {
        padding: 0 0 40px;
    }
    .strems__item-video{
        width: 350px;
        height: 197px;
    }
    .events-and-news__item div {
        margin: 0 auto;
        max-width: 260px;
    }
    .events-and-news__item-title {
        font-size: 16px;
    }
    .events-and-news__item-btn {
        font-size: 14px;
        max-width: 193px;
        padding: 9px 0 8px;
    }
    .events-and-news-link {
        padding: 14px 0 13px;
        font-size: 14px;
        margin-top: 5px;
    }
    .contacts-inner__text-item-btn{
        padding: 18px 19px 17px 18px;
    }
    .footer__item--1 .header__logo-img {
        width: 55px;
    }

} 
@media(max-width:323px){
    #teacherBack1 {
        bottom: 979px;
    }
    #teacherBack2 {
        bottom: 552px;
    }
    #teacherBack3 {
        bottom: 122px;
    }
}