html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
    color: inherit;
}

  
body {
    font-family: 'RobotoCondensed Regular', sans-serif;
    color: #1c1b1b;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0 auto;
    max-width: 1920px;
    background-color: #1c1b1b;
}
.section{
    padding-bottom: 150px;
}
.container {
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
}
.btnOnLight {
    background-color: #1c1b1b;
    border: 1px solid #ff911b;
    font-family: 'RobotoCondensed-Bold', sans-serif;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    transition: .4s;
}
.btnOnLight:hover{
    font-family: 'RobotoCondensed-Bold', sans-serif;
    background-color: #ff911b;
    color: #1c1b1b;
    font-weight: 800;
    cursor: pointer;
}
.btnOnDark{
    font-family: 'RobotoCondensed-Bold', sans-serif;
    background-color: #ff911b;
    color: #fff;
    font-weight: 800;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: .4s;
}
.btnOnDark:hover{
    font-family: 'RobotoCondensed-Bold', sans-serif;
    background-color:#fff;
    color: #1c1b1b;
    cursor: pointer;
}
.title {
    font-family: 'Oranienbaum', serif;
}
.section-title {
    margin-top: 80px;
    text-align: center;
}
.subtitle{
    font-family: 'Oranienbaum', serif;
    border-bottom: 2px solid #ff911b;
    font-size: 48px;
    font-weight: normal;
}
/* header */
.header{
    height: 100vh;
    overflow: hidden;
}

.header-top {
    max-width: 100vw;
    width: 100%;
    background-color: #1c1b1b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
}
.header-top__inner{
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
}
.header__menu-item{
    padding: 7px 14px 8px;
}
.header__menu-item:hover{
    cursor: pointer;
}
.header__menu-item--active {
    background-color:  #ff911b;
}
.header__menu-link {
    color: #fff; 
    font-size: 14px;
}
.header__menu-link--active{
    color: #1c1b1b;
}
.header__menu-link:hover{
    color: #ff911b;
    border-bottom: 2px solid #ff911b;
}
.header__menu-link--active:hover{
    color: #1c1b1b;
}
.header-bottom{
    margin-top: 61px;
    background-color: #1c1b1b;
    background-image: url(../images/headerBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94%;
    background-position: center center;
}
.header-bottom__title {
    margin-top: 60px;
    color: #fff;
    font-size: 92px;
    line-height: 94px;;
    letter-spacing: -4px;
    max-width: 400px;
    font-weight: normal;
}
.header-bottom__btn {
    margin-top: 65px;
    margin-bottom: 160px;
    padding: 23px 30px 21px 28px;
    font-size: 14px;
}
.header__menu-gamberger {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url('../images/bars.svg');
    background-size: cover;
}
/* about */
.about {
    background-color: #fff;
}
.about .container {
    padding-bottom: 0;
}

/* slider */
.sliderContainer{
    width: 100%;
    margin-top: 70px;
    position: relative;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.arrowPrew {
    left: 0;
}
.arrowNext{
    right: 0;
}
.sliderContainerInner{
    max-width: 1005px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.sliderText-title{
    font-weight: normal;
    font-family: 'Oranienbaum', serif;
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
}
.sliderText-text{
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
    max-width: 420px;
    text-align: justify;
    user-select: none;
}
.sliderImg{
    max-width: 510px;
    object-fit: cover;
    user-select: none;
}
.paginator{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagin__item {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid #1c1b1b; 
    border-radius: 50%;
    cursor: pointer;
}
.pagin__item + .pagin__item {
    margin-left: 10px;
}
.pagin__item--active{
    background-color: #ff911b;
    border: none;
}
/* strems */
.strems{
    color: #fff;
}
.strems__item {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.srtems__item-video-Wrap{
    display: flex;
    align-items: flex-end;
}
.strems__item-video{
    outline:  #ff911b;
    width: 600px;
    height: 338px;
}
.streems__items-text-Wrap{
    max-width: 450px;
    width: 100%;
}
.strems__item-title{
    font-family: 'Oranienbaum', serif;
    text-align: center;
    color: #fff;
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 20px;
}
.strems__item-text{
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
    max-width: 450px;
    text-align: justify;
    color: #fff;
}
.strems__item-btn{
    max-width: 450px;
    margin-top: 40px;
    padding: 24px 82px 23px;
    font-size: 16px;
    line-height: 19px;
}
.strems__item-btn:hover {
    border: 1px solid #ff911b;
}
/* teachers */
.teachers{
    background-color: #fff;
    color: #1c1b1b;
}
.teachers__cards-container {
    position: relative;
    z-index: 0;
}
.teach-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.teacherBack {
    width: 100%;
    height: 360px;
    position: absolute;
    bottom: 152px;
    border-bottom: 2px solid #1c1b1b;
    z-index: 1;
    background-color: #ff911b;
}
#teacherBack2, #teacherBack1 {display: none;}
.teachers__cards-container-item {
    max-width: 300px;
    position: relative;
    z-index: 2;
}
.teachers__cards-container-item img{
    max-height: 384px;
}
#tren1{
    display: flex;
    justify-content: center;
}
#tren2 {
    display: flex;
    justify-content: center;
}
#tren3 {
    margin-top: 3px;
    display: flex;
    justify-content: center;
}
.teachers__item-name, .teachers__item-descr {
    text-align: center;
    margin-top: 10px;
}
.teachers__item-name{
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -1px;   
    transition: .3s;
}
.teachers__item-name:hover {
    color: #ff911b;
}
.teachers__item-descr{
    font-family: 'RobotoCondensed Regular', sans-serif;
    color: #5e5b5b;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -1px;
}
/* events-and-news */
.events-and-news {
    color: #fff;
}
.events-and-news-inner {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.events-and-news__item {
    flex-basis: 33%;
    height: auto;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    color:#1c1b1b;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #ff911b;
}
.events-and-news__item+.events-and-news__item {
    margin-left: 30px;
}
.events-and-news__item-img{
    max-width: 350px;
    width: 100%;
    object-fit: cover;
}
.events-and-news__item-title {
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -1px;
    max-width: 290px;
    margin: 10px auto;
}
.events-and-news__item-descr {
    max-width: 290px;
    margin: 15px auto 25px;
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -1px;
    color: #5e5b5b;
}
.events-and-news__item-btn {
    display: block;
    margin: 0 auto 30px;
    max-width: 240px;
    width: 100%;
    text-align: center;
    padding: 17px 0 16px;
    font-size: 16px;
}
.events-and-news-link{
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 80px auto 0;
    text-align: center;
    font-size: 22px;
    padding:  31px 0 30px;
}
/* contacts */
.contacts{
    background-color: #fff;
}
.contacts-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}
.contacts-inner__map{
    width: 50%;
}
.contacts-inner__map img {
    max-width: 584px;
    width: 100%;
    height: 100%;
}
.contacts-inner__text {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts-inner__text-item {
    border: 2px solid #ff911b;
    padding: 30px 0 44px;
    max-width: 550px;
    margin: 0 0 0 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contacts-inner__text-item-title{
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-weight: 800;
    font-size: 27px;
    letter-spacing: -1px;
    text-align: center;
}
.contacts-inner__text-item-input{
    margin-top: 25px;
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 12px 12px 11px;;
}
.contacts-inner__text-item-input::placeholder{
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -1px;
    color: #5e5b5b;
}
.contacts-inner__text-item-btn {
    margin-top: 60px;
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
    padding: 23px 43px 22px 39px;
}
.contacts-inner__text-item-text{
    display: flex;
    text-align: left;
    max-width: 405px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.contacts-inner__text-item-text+.contacts-inner__text-item-text{
    margin-top: 50px;
}
.contacts-inner__text-item-text-title {
    max-width: 90px;
    width: 100%;
}
.contacts-inner__text-item-text-link:hover{
    color:#ff911b;
    transition: all .3s;
}
.contacts-inner__text-item-text-title{
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
    color: #5e5b5b;
}
.contacts-inner__text-item-text-body{
    display: block;
    font-family: 'RobotoCondensed-Bold', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
    color: #1c1b1b;
}
/* footer */
.footer {
    color: #fff;
}
.footer-inner{
    display: flex;
    justify-content: space-between;
}
.footer__item-3 {
    max-width: 230px;
}
.footer__item-descr{
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
    color: #5e5b5b;
}
.footer__item-title{
    font-weight: normal;
    font-family: 'Oranienbaum', serif;
    font-size: 24px;
    letter-spacing: -1px;
    display: flex;
    align-items: flex-end;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
}
.footer__menu-item+.footer__menu-item {
    margin-left: 15px;
}
.footer__menu-link{
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
    color: #5e5b5b;
}
.footer__menu-link:hover{
    color:#ff911b;
}
.footer__item-contacts {
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
    color: #5e5b5b;
}
.footer__item-contacts-tel:hover{
    transition: .3s;
    color: #ff911b;
}
.footer__me {
    text-align: center;
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: -1px;
    color: #fff;
}
.footer__social-list {
    display: flex;
}
.footer__social-list-item+.footer__social-list-item{
    margin-left: 10px;
}
.cls-1:hover{
    fill: #ff911b;
}

/* Общая страница новостей */
.all-news__header {
    height: 62px;
}
.all-news{
    background-color: #fff;
    padding-bottom: 100px;
}
.all-news__list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.all-news__list-item {
    max-width: 350px;
    width: 100%;
    margin-bottom: 100px;
}
.all-news-btn {
    display: block;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    padding: 28px 0;
}
/* Страница конкретной новости */
.one-new {
    background-color: #fff;
    padding-bottom: 80px;
}
.one-new-description {
    max-width: 985px;
    width: 100%;
    margin: 60px auto 40px;
    padding: 0 20px;
    font-family: 'RobotoCondensed Regular', sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
}
.one-new__btn-list {
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.one-new__btn-list li {
    display: block;
    max-width: 240px;
    width: 100%;
}
.one-new__btn-list-item .btn {
    display: block;
    padding: 18px;
    width: 100%;
}
.one-new__material-list {
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.one-new__material-item {
    flex-basis: 33.3%;
    margin-bottom: 20px;
}
.one-new__material-item-img {
    max-width: 370px;
    background-color: rgb(160, 160, 255);
    height: 264px;
    margin-left: 20px;
}
.one-new__material-item-video {
    max-width: 370px;
    height: 264px;
    margin-left: 20px;
}



/* моя визитка */
.my-card {
    display: none;
}

.my-card:target {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.my-card figcaption {
    max-width: 400px;
    position: relative;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}
.my-card figcaption h4 {
    font-size: 16px;
    padding: 0 5px;
}  
.my-card .close {
    position: relative;
    display: block;
}
.my-card .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 9, 9);
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
}
.my-card .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
}

.my-contacts-list {
    padding: 5px;
    font-size: 16px;
}
.my-contacts-list li+li {
    margin-top: 5px;
}
.my-contacts-list span {
    color: #5e5b5b;
    font-size: 15px;
}